.checkout-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 80%;
  .checkout-table {
    width: 100%;
    td {
      border-collapse: collapse;
      border-bottom: 1px solid #ddd;
    }
  }
  .total-text {
    display: flex;
    font-size: 30px;
    justify-content: flex-end;
  }
}