.navigation {
  height: 70px;
  width: 1fr;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 20px;

  .nav-links-container {
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .nav-link {
      padding: 10px 15px;
      text-decoration: none;
    }
  }
}