.cart-icon-container {
  height: 100%;
  position: relative;
  padding: 10px 15px;
  

  .shopping-icon {
    height: 100%;
    width: 27px;

    &:hover {
      cursor: pointer;
    }
  }
  
  .cart-badge {
    position: absolute;
    font-size: 15px;
    top: 40px;
    right: 24px;
  }
}